* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "ubuntu", sans-serif;
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

.container {
  background-color: var(--Magnolia);
  height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
}

.box {
  background-color: var(--White);
  height: auto;
  max-width: 1440px;
  margin: 200px auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1em;
  border-radius: 0.5em;
  gap: 4em;
}

aside {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border-radius: 0.5em;
}

.step {
  display: flex;
  align-items: center;
  gap: 1em;
}

.num {
  height: 24px;
  width: 24px;
  border: 1px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
}

.one {
  background-color: var(--Light-blue);
}

.num p {
  font-size: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.top,
.bottom {
  width: fit-content;
  height: auto;
}

.top p {
  color: var(--Cool-gray);
}

.bottom p {
  color: var(--White);
  letter-spacing: 1.5px;
  cursor: pointer;
}

.main {
  padding: 2em 4em 2em 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.step1 {
  display: none;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.t-header,
.b-header {
  width: 100%;
  height: auto;
}

.t-header h1 {
  font-size: 2em;
  color: var(--marine-blue);
}
.b-header p {
  color: var(--Cool-gray);
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 0.5em;
}

label {
  color: var(--marine-blue);
}

input {
  padding: 1em;
  border: 1px solid var(--Cool-gray);
  border-radius: 0.5em;
  outline: none;
}

input:active,
input:focus {
  border: 1.2px solid var(--purplish-blue);
}

input::placeholder {
  color: var(--Cool-gray);
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5em;
}
button {
  padding: 1em 2em;
  align-items: end;
  background-color: var(--marine-blue);
  border-radius: 0.5em;
  color: var(--Light-gray);
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

/***** STEP TWO STARTS *****/

.step2 {
  display: flex;
  flex-direction: column;
}

.one {
  background-color: transparent;
}
.two {
  background-color: var(--Light-blue);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: auto;
  width: 100%;
  margin-top: 1em;
}

.option-box {
  padding: 1.5em 2em 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
  width: 180px;
  height: 200px;
  border: 2px solid var(--Light-gray);
  border-radius: 1em;
  cursor: pointer;
}

.option-box:first-child {
  background-color: hsl(229, 24%, 87%, 30%);
  border: 2px solid var(--purplish-blue);
}

.option-box-top,
.option-box-bottom {
  height: auto;
  width: 100%;
}

.option-box-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.arcade-txt h3 {
  color: var(--marine-blue);
}

.price p {
  color: var(--Cool-gray);
}
.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: hsl(229, 24%, 87%, 30%);
  padding: 1.2em 0;
  margin-top: 1em;
  border-radius: 1em;
}

.monthly-switch,
.yearly-switch {
  height: auto;
  width: fit-content;
  color: var(--marine-blue);
}

.yearly-switch {
  color: var(--Cool-gray);
}

label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.month-switch input {
  display: none;
}

.month-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.month-switch input:checked,
.month-slider {
  background-color: var(--marine-blue);
}

.month-slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.step2-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.back p {
  color: var(--Cool-gray);
  cursor: pointer;
}

.monthly {
  display: none;
}

.free {
  color: var(--marine-blue);
}

.year-switch input:checked,
.year-slider::before {
  transform: translateX(26px);
}

.monthly-switch,
.yearly-switch {
  height: auto;
  width: fit-content;
  color: var(--Cool-gray);
}

.yearly-switch {
  color: var(--marine-blue);
}

.step2 {
  display: none;
}

/***** STEP TWO ENDS *****/

/***** STEP THREE STARTS *****/

.step3 {
  display: flex;
  flex-direction: column;
}

.add-ons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.add-ons-box {
  display: flex;
  align-items: center;
  gap: 10em;
  padding: 2em;
  border: 1px solid var(--purplish-blue);
  border-radius: 1em;
  background-color: var(--Magnolia);
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.left-add-ons {
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: fit-content;
  height: auto;
}

.mark {
  padding: 0.5em;
  background-color: var(--purplish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  cursor: pointer;
}

.add-ons-txt {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-ons-txt-top,
.add-ons-txt-bottom {
  height: auto;
  width: 100%;
}

.option-box-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-ons-txt-top h3 {
  color: var(--marine-blue);
}

.add-ons-txt-bottom p {
  color: var(--Cool-gray);
}

.right-add-ons {
  height: auto;
  width: fit-content;
  height: auto;
  color: var(--purplish-blue);
}

.unmark {
  background-color: transparent;
  border: 1px solid var(--Cool-gray);
}

.unmark .mark {
  background-color: transparent;
  border: 1px solid var(--Cool-gray);
}

.two {
  background-color: transparent;
}
.three {
  background-color: var(--Light-blue);
}
