* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  font-family: "ubuntu", sans-serif;
  background-color: var(--Magnolia);
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

/* .container {
  background-color: var(--Magnolia);
  height: 100vh;
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  margin: 100px auto;
} */

.box {
  position: relative;
  background-color: var(--White);
  margin: 200px auto;
  height: auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1em;
  border-radius: 0.5em;
  gap: 4em;
}

aside {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border-radius: 0.5em;
}

.step {
  display: flex;
  align-items: center;
  gap: 1em;
}

.num {
  height: 24px;
  width: 24px;
  border: 1px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
}

.one {
  background-color: var(--Light-blue);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.top,
.bottom {
  width: fit-content;
  height: auto;
}

.top p {
  color: var(--Cool-gray);
}

.bottom p {
  color: var(--White);
  letter-spacing: 1.5px;
  cursor: pointer;
}

/***** STEP ONE STARTS *****/

.main {
  padding: 2em;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.step1 {
  display: flex;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.t-header,
.b-header {
  width: 100%;
  height: auto;
}

.t-header h1 {
  font-size: 2em;
  color: var(--marine-blue);
}
.b-header p {
  color: var(--Cool-gray);
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 0.5em;
}

label {
  color: var(--marine-blue);
  width: 100%;
  height: auto;
}

input {
  padding: 1em;
  border: 1px solid var(--Cool-gray);
  border-radius: 0.5em;
  outline: none;
}

input:active,
input:focus {
  border: 1.2px solid var(--purplish-blue);
}

input::placeholder {
  color: var(--Cool-gray);
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5em;
}
button {
  padding: 1em 2em;
  align-items: end;
  background-color: var(--marine-blue);
  border-radius: 0.5em;
  color: var(--Light-gray);
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.step1 {
  display: none;
}

/***** STEP ONE ENDS *****/

/***** STEP TWO STARTS *****/

.step2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.one {
  background-color: transparent;
}
.two {
  background-color: var(--Light-blue);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: auto;
  width: 100%;
  margin-top: 1em;
}

.option-box {
  padding: 1.5em 2em 1.5em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  height: 200px;
  border: 2px solid var(--Light-gray);
  border-radius: 1em;
  cursor: pointer;
}

.okay {
  display: flex;
  flex-direction: column;
}

.option-box:first-child {
  background-color: hsl(229, 24%, 87%, 30%);
  border: 2px solid var(--purplish-blue);
}

.option-box-top,
.option-box-bottom {
  height: auto;
  width: 100%;
}

.option-box-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.option-box-bottom::after {
  content: "2 months free";
  color: var(--marine-blue);
  display: flex;
  width: 100%;
}

.arcade-txt h3 {
  color: var(--marine-blue);
}

.price p {
  color: var(--Cool-gray);
}
.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: hsl(229, 24%, 87%, 30%);
  padding: 1.2em 0;
  margin-top: 1em;
  border-radius: 1em;
}

.monthly-switch,
.yearly-switch {
  height: auto;
  width: fit-content;
  color: var(--marine-blue);
}

.yearly-switch {
  color: var(--Cool-gray);
}

.month-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.month-switch input {
  display: none;
}

.month-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.month-switch input:checked,
.month-slider {
  background-color: var(--marine-blue);
}

.month-slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.step2-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  align-items: center;
}
.back p {
  color: var(--Cool-gray);
  font-weight: 500;
  cursor: pointer;
}

.monthly {
  display: none;
}

.free {
  color: var(--marine-blue);
}

.year-switch input:checked,
.year-slider::before {
  transform: translateX(26px);
}

.monthly-switch,
.yearly-switch {
  height: auto;
  width: fit-content;
  color: var(--Cool-gray);
}

.yearly-switch {
  color: var(--marine-blue);
}

/* .step2 {
  display: none;
} */

/***** STEP TWO ENDS *****/

/***** STEP THREE STARTS *****/

.step3 {
  display: flex;
  flex-direction: column;
}

.add-ons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.add-ons-box {
  display: flex;
  align-items: center;
  gap: 10em;
  padding: 2em;
  border: 1px solid var(--purplish-blue);
  border-radius: 1em;
  background-color: var(--Magnolia);
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.left-add-ons {
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: fit-content;
  height: auto;
}

.mark {
  padding: 0.5em;
  background-color: var(--purplish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  cursor: pointer;
}

.add-ons-txt {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-ons-txt-top,
.add-ons-txt-bottom {
  height: auto;
  width: 100%;
}

.option-box-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-ons-txt-top h3 {
  color: var(--marine-blue);
}

.add-ons-txt-bottom p {
  color: var(--Cool-gray);
}

.right-add-ons {
  height: auto;
  width: fit-content;
  height: auto;
  color: var(--purplish-blue);
}

.unmark {
  background-color: transparent;
  border: 1px solid var(--Cool-gray);
}

.unmark .mark {
  background-color: transparent;
  border: 1px solid var(--Cool-gray);
}

.two {
  background-color: transparent;
}
.three {
  background-color: var(--Light-blue);
}

.right-add-ons p {
  display: none;
}
.year p {
  display: flex;
}

/***** STEP THREE ENDS *****/

/***** STEP FOUR STARTS *****/

.step3 {
  display: none;
}

.step4 {
  display: flex;
}

.finishing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.finishing-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--Magnolia);
  padding: 2em;
  border-radius: 1em;
  align-items: center;
}

.totals {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 0.5em;
}

.top-total {
  padding-bottom: 2em;
}

.totals:first-child {
  border-bottom: 1px solid hsl(231, 11%, 63%, 30%);
}

.left-totals {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 0.5em;
}

.top-left-totals {
  height: auto;
  width: 100%;
}
.top-left-totals h3 {
  color: var(--marine-blue);
}

.change-totals {
  height: auto;
  width: 100%;
}

.change-totals a,
.change-totals p {
  color: var(--Cool-gray);
}

.right-totals {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.right-totals p {
  color: var(--marine-blue);
}

.tot-price p {
  font-weight: 600;
  font-size: 1.2em;
}

.overall {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
}

.overall-price {
  width: 100%;
  height: auto;
}

.overall-price p {
  color: var(--purplish-blue);
  font-weight: 600;
  font-size: 1.5em;
}

.btn4 button {
  background-color: var(--purplish-blue);
}

.three {
  background-color: transparent;
}
.four {
  background-color: var(--Light-blue);
}

.right-totals {
  display: none;
}

.right-totals.year {
  display: flex;
}

/****** STEP FOUR ENDS ******/

/****** STEP FIVE STARTS ******/

.step4 {
  display: none;
}

.step5 {
  display: none;
}

.thanks {
  text-align: center;
  gap: 2em;
  padding: 10em;
}

.thanks p {
  line-height: 1.5;
}
/****** STEP FIVE ENDS ******/

@media (max-width: 954px) {
  .box {
    grid-template-columns: 200px 1fr;
    gap: 2em;
  }

  .main {
    padding: 2em;
  }
  .bottom {
    display: none;
  }

  .option-box {
    gap: 2em;
  }
}

@media (max-width: 768px) {
  /* body {
    position: relative;
  } */

  .four {
    background-color: transparent;
  }

  .box {
    position: relative;

    min-width: 375px;
    grid-template-columns: 1fr;
    padding: 0;
    border-radius: 0.5em;
    margin: 0;
  }

  aside {
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    flex-direction: row;
    border-radius: 0;
    justify-content: center;
    height: 200px;
    align-items: start;
    width: 100%;
  }

  .one {
    background-color: var(--Light-blue);
  }

  .info {
    display: none;
  }

  .mobile {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, 30%);
    background-color: var(--White);
    padding: 1.5em;
    height: auto;
    width: 375px;
    gap: 1em;
    border-radius: 1em;
    bottom: -60%;
    box-shadow: 0px 10px 64px 0px hsl(231, 11%, 63%, 0.5);
  }

  form {
    gap: 1em;
  }

  .input-box {
    gap: 0.2em;
  }

  .step1 {
    display: none;
  }

  /***** STEP 2 MOBILE STARTS *****/

  .step2 {
    bottom: -170%;
  }

  .one {
    background-color: transparent;
  }
  .two {
    background-color: var(--Light-blue);
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .option-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    gap: 1px;
    width: 100%;
    height: auto;
  }

  .option-box-top {
    display: flex;
  }

  .option-box-bottom {

    display: flex;
    align-items: end;
    justify-content: center;
  }
  .option-box-bottom::after {
    display: none;
  }

  .monthly-switch,
  .yearly-switch {
    height: auto;
    width: fit-content;
    color: var(--marine-blue);
  }

  .yearly-switch {
    color: var(--Cool-gray);
  }

  .month-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
  }

  .month-switch input:checked,
  .month-slider {
    background-color: var(--marine-blue);
  }

  .year-switch input:checked,
  .year-slider::before {
    transform: translateX(0);
  }

  .step2-bottom {
    background-color: var(--White);
    padding: 1em;
    height: auto;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
  }

  .monthly {
    display: flex;
  }
  .yearly {
    display: none;
  }

  /* .monthly-switch,
  .yearly-switch {
    height: auto;
    width: fit-content;
    color: var(--Cool-gray);
  } */

  /* .yearly-switch {
    color: var(--marine-blue);
  } */

  /* .step2 {
  display: none;
} */
}
